body {
    font-family: 'Open Sans', sans-serif;
    color: #7581a1;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
}

a {
    text-decoration: none;
}

h1 {
    font-size: 80px;
    font-weight: 600;
    color: #192b59;
}

.nav {
    font-size: 12px;
    font-weight: 700;
    color: #6e7ea9;
    text-transform: uppercase;
    
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.btn-primary {
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 2.5px;
    color: #fff;
    background-color: #1085e4;
    border: 1px solid #1085e4;
    padding: 20px 40px;
    border-radius: 30px;
}

.btn-primary:hover {
    color: #1085e4;
    background-color: #fff;
}

.btn-secondary {
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 2.5px;
    color: #7e8bae;
    background-color: #cbdbe8;
    border: 1px solid #cbdbe8;
    padding: 20px 40px;
    border-radius: 30px;
}

.btn-secondary:hover {    
    background-color: #fff;
}

.btn-free {
    font-size: 12px;
    font-weight: 400;
    padding: 21px 56px;
    letter-spacing: 1.7px;
    
}

.btn-info {
    color: #8085b1;
    background-color: transparent;
    text-transform: uppercase;
    border: 1px solid rgba(0, 0, 0, 0.1);
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 2.5px;
    padding: 20px 40px;
    border-radius: 30px;
}

.btn-group a + a {
    margin-left: 16px;
}

.grid h2 {
    font-weight: 700;
    font-size: 40px;
    color: #192b59;
}

.grid h2 span {
    color: #1085e4;
    font-size: 14px;
    font-weight: 800;
    text-transform: uppercase;
    display: block;
}

.grid-item h3 {
    color: #192b59;
    font-size: 20px;
    font-weight: 600;
}

.grid-item a {
    font-size: 14px;
    font-weight: 600;
    color: #1085e4;
}

.page-subscribe h2 {
    color: #fff;
    font-size: 50px;
    font-weight: 600;

}

.page-subscribe h2 span {
    font-size: 14px;
    font-weight: 800;
    text-transform: uppercase;
    color: #00bffe;
    display: block;
}

.page-subscribe p {
    color: #fff;
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
}

/* пока не понял как стилизовать текст внутри формы */
.input-field::placeholder {
    color:blue;
    color:#fff;
}

.input-button {
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 14px;
    color: #fff;
    background-color: #1085e4;
}

.page-software h2 {
    font-size: 50px;
    font-weight: 600;
    color: #192b59;
}

.page-software dt {
    font-weight: 700;
}

